


{%extends "layout.html"%}
{% block content %}
    <style>
        h1 {
            color: green;
            font-style: italic;

        }
        body{
            background-color:lavender;
        }
    </style>

<body>
    <div class="jumbotron big-banner">
    <center><h1>2019 Historical Stocks</h1></center>
    <script type = "text/javascript">
        function pic1()
        {
            document.getElementById("img").src ="/static/facebook2019.png";
        }
        function pic2()
        {
            document.getElementById("img").src ="/static/google2019.png";
        }
        function pic3()
        {
            document.getElementById("img").src ="/static/uber.png";
        }
         function pic4()
        {
            document.getElementById("img").src ="/static/bitcoin.png";
        }
        function pic5()
        {
            document.getElementById("img").src ="/static/Toyota.png";
        }
     function pic6()
        {
            document.getElementById("img").src ="";
        }
    </script>
    <img src = "" id = "img"/> <input type="button" value="Faceboook
    " onclick="pic1()"/> <input type="button" value="Google"
    onclick="pic2()"/>

    <img src = "" id = "img"/> <input type="button" value="Uber" onclick="pic3()"/>
    <img src = "" id = "img"/> <input type="button" value="Bitcoin" onclick="pic4()"/>
    <img src = "" id = "img"/> <input type="button" value="Toyota" onclick="pic5()"/>
     <img src = "" id = "img"/> <input type="button" value="Reset
    " onclick="pic6()"/>

</div>








<footer class="page-footer font-small blue">
    <hr>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright: <a href="http://chenson.pythonanywhere.com/"> StockWatch.com</a> </div>
    <!-- Copyright -->
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">

</script>
</body>
{% endblock content %}





